**/*.class
**/bin/
**/target/
**/.project
**/.classpath
**/workspace
**/.metadata
**/.settings
**/doc
**/.checkstyle
**/*~
**/#*#
**/*.aux
**/*.log
**/*.toc
**/*.iml
**/.idea
**/.Rhistory
**/.~lock.*#
**/.nsf*
**/.DS_Store/
**/DS_Store
**/*.backup